# Entorno virtual de Python
venv/
env/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Flask
instance/
.webassets-cache

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Base de datos (si llegas a usar)
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.flaskenv
